@model ArquitecturaMVC.Models.ClienteModels

@{
    ViewBag.Title = "RegistrarCliente";
}

<h2>RegistrarCliente</h2>
<div class="mdl-grid demo-content">
    <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col">
        @using (Html.BeginForm())
        {

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="nombre" name="nombre">
                <label class="mdl-textfield__label" for="nombre">Nombres</label>
            </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="apellido" name="apellido">
                        <label class="mdl-textfield__label" for="apellido">Apellidos</label>
                    </div>
                    <div>
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="genero-1">
                            <input type="radio" id="genero-1" class="mdl-radio__button" name="genero" value="1" checked>
                            <span class="mdl-radio__label">Masculino</span>
                        </label>
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="genero-2">
                            <input type="radio" id="genero-2" class="mdl-radio__button" name="genero" value="2">
                            <span class="mdl-radio__label">Femenino</span>
                        </label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text" id="email" name="email">
                        <label class="mdl-textfield__label" for="ced">E-mail</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="password" id="password" name="password">
                        <label class="mdl-textfield__label" for="ced">contraseña</label>
                    </div>
                    <div>
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="cliente-1">
                            <input type="radio" id="cliente-1" class="mdl-radio__button" name="tipo_cliente" value="1" checked>
                            <span class="mdl-radio__label">Persona Natural</span>
                        </label>
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="cliente-2">
                            <input type="radio" id="cliente-2" class="mdl-radio__button" name="tipo_cliente" value="2">
                            <span class="mdl-radio__label">Persona Juridica</span>
                        </label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="num_identificacion" name="num_identificacion">
                        <label class="mdl-textfield__label" for="ced">Identificación</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="phone" name="phone">
                        <label class="mdl-textfield__label" for="ced">Celular</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="date" id="fecha_n" name="fecha_n" value="2016-10-06">
                        <label class="mdl-textfield__label" for="tf4">Fecha de nacimiento</label>
                    </div>
                    <div>
                        <div>
                            <input id="show-dialog" type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" onclick="chekear()" />
                        </div>
                    </div>

        }
        <svg fill="currentColor" viewBox="0 0 500 250" class="demo-graph">
            <use xlink:href="#chart" />
        </svg>
        <svg fill="currentColor" viewBox="0 0 500 250" class="demo-graph">
            <use xlink:href="#chart" />
        </svg>
    </div>
</div>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
