.together-section {
    position: relative;
    background-color: #9E9E9E;
    background-size: cover;
    /*padding: 0;*/
    height: 800px;
    width: auto;
}

.contenido {
    position: relative;
    top: 6em;
    background-color: #fff;
    border-radius: 0.85%;
}
.mdl-all {
    width:100%;
    
}
.mdl-lg-ctr{
    width:68%;
    margin:0 auto;
}
.pding_b {
 padding-bottom: 5px;
}
.lgn-horz-ctr {
 padding:8px 0;
}
.spa {
    border-top: 1px dotted;
}
.izq-item{
    padding-left:0em;
    text-align:left;
}
.text_center {
    margin:auto;
}
